<h1>New Person</h1>

<% if !flash.empty? and !flash.alert.empty?  %>
  <% flash.alert.each do |error| %>
  <div class="alert error"> <%= error %></div>
<% end %>
<% end %>
<%= form_for(@person) do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username, placeholder: :username  %>
  <%= f.label :email %>
  <%= f.text_field :email, placeholder: :email  %>
  <%= f.label :password %>
  <%= f.password_field :password, placeholder: :password %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', people_path %>
