<%= javascript_pack_tag 'person.js' %>

<p id="notice"><%= notice %></p>

<%= form_tag people_unwatched_films_path(id: @person.id), method: :get do %>
  <%= hidden_field_tag :id, @person.id %>
  <%= text_field_tag :search, params[:search], placeholder: "Search..." %>
  <%= submit_tag("Search", name: nil) %>
<% end %>

<br>

<%= link_to "View watched films", people_watched_films_path(:id => @person.id), {:style=>'font-size:22px;',} %>

<div class="films-watched">
  <h3 class="films-watched-title">Films watched in <%= Time.current.year %> </h3>
  <h2 class = "films-watched-count"><%= @attributes[:watch_count] %></h2>
</div>

<br><br><br>
<h2>My films to watch</h2>

<div class="container">
<% @films.each do |film| %>
    <div class="col-md-4 unwatched-films-row">
      <%= link_to film do %>
        <div class="img-container">
          <%= image_tag('https://image.tmdb.org/t/p/w780' << film.poster_path.to_s, class: "film") %>
        </div>
      <% end %>
      <p class="title"><%= film.title %></p> 
      <%= form_for :watch do |f| %>
        <%= f.hidden_field :person_id, value: @person.id %>
        <%= f.hidden_field :film_id, value: film.id %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= f.submit %>
      <% end %>
  </div>
<% end %>
</div>


<%== pagy_nav(@pagy) %>


