<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @person.username %><br>


<%= @person.film_id %>

<% myfilms = @person.get_person_films_list %>



<h2>My films</h2>


<% myfilms.each do |film| %>
      <% object = Film.where(title: [film.to_s]) %>
      <% id = object.pluck(:id) %>
      <% title = object.pluck(:title) %>
      <% title = title.join() %>

      <li><%= link_to title, film_path(id) %></li>

    <br/>
<% end %>
<br/><br/>

<p/>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
