<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @person.username %><br>

  <%#= form_with url: add_film_to_person_path, method: :post, model: @film do |form| %>
    <%#= form.select(:film_id, Film.all.collect {|p| [p.title, p.id]},
    include_blank: true) %>
    <%#= form.submit %>
  <%# end %>

<%= @person.film_id %>
<%# @person.update(film_id: add_film)  %>
<% list_of_person_ids = @person.film_id %>

<% myfilms = Film.where(id: list_of_person_ids)%>

<h2>My films</h2>


<% allfilms = Film.all.select(:title).map(&:title) %>

<% myfilms = myfilms.map(&:title) %>

<% @intersection = allfilms & myfilms %>

<% @intersection.each do |film| %>
      <% object = Film.where(title: [film.to_s]) %>
      <% id = object.pluck(:id) %>
      <% title = object.pluck(:title) %>
      <% title = title.join() %>

      <li><%= link_to title, film_path(id) %></li>

    <br>
<% end %>
<%#.join("<br>").html_safe %>
<br></br>

</p>



<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
