<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @person.username %><br/>

</p>
<% myfilms = @person.get_person_films_list %>

<h2>My films</h2>

<% myfilms.each do |film| %>
      <% object = Film.where(title: [film.to_s]) %>
      <% @id = object.pluck(:id) %>
      <% title = object.pluck(:title) %>
      <% title = title.join() %>

      <%= link_to title, film_path(@id) %>

      <% watched = get_watched_films(@person.id, @id)  %>
      <% if watched.present?%>
        <%= image_tag "watched-checkmark.png", size: '16', class: 'watched' %>
      <% end %>



      <%= form_for :watch do |f| %>
      <%= f.hidden_field :person_id, :value => @person.id %>
      <%= f.hidden_field :film_id, :value => @id%>

      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
        <%= f.submit%>
        <% f.label :name%>
      <% end %>

    <br/>
<% end %>


<h2>My Custom Lists </h2>
<% mylists = current_user.custom_lists %>
<% mylists.each do |l|  %>
  <%= link_to l.name, custom_list_path(l.id) %>
<% end %>
<%= button_to "Random", customrandomfilm_path, method: :get  %>

<br/>
<br/>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
