<%= javascript_pack_tag 'person.js' %>

<p id="notice"><%= notice %></p>

<%= link_to "View watched films", people_watched_films_path(:id => @person.id), {:style=>'font-size:22px;',} %>

<% myfilms = @person.get_person_films_list %>
<% watches = Watch.where(person_id: @person.id, created_at: Time.current.all_year)  %>

<div class="films-watched">
<h3 class="films-watched-title">Films watched in <%= Time.current.year %> </h3>
<h2 class = "films-watched-count"><%= watches.count %></h2>
</div>

<br><br><br>
<h2>My films to watch</h2>

<% film_list = get_unwatched_films %>

<% film_list.in_groups_of(8, false).each do |films| %>
<div class="row">

  <% films.each do |film| %>
  <div class="col-md-4">
    <% film = Film.find_by(id: film) %>

    <%= link_to film do %>
      <div class="container">
        <p class="title"><%= film.title %></p> 
        <%= image_tag('https://image.tmdb.org/t/p/w154' << film['poster_path'].to_s,  class: "film") %>
            <% end %>
    <%= form_for :watch do |f| %>
    <%= f.hidden_field :person_id, :value => @person.id %>
    <%= f.hidden_field :film_id, :value => film.id%>

    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <%= f.submit%>
    <% f.label :name%>
      </div>



     </div>
  <% end %>
  </div>
<% end %>
<% end %>

<br><br>
