<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @person.username %><br/>

</p>
<% myfilms = @person.get_person_films_list %>
<% watches = Watch.where(person_id: @person.id, created_at: Time.current.all_year)  %>

<div class="films-watched">
<h3 class="films-watched-title">Films watched in <%= Time.current.year %> </h3>
<h2 class = "films-watched-count"><%= watches.count %></h2>
</div>

<% watches.each do |f| %>
  <% film = Film.find_by(id: f.film_id) %>
  <%= link_to film.title, film_path(f.film_id) %>
  <br>
<% end %>

<h2>My films</h2>

<% film_list = get_unwatched_films %>

<% film_list.in_groups_of(8, false).each do |films| %>
<div class="row">

  <% films.each do |film| %>
  <div class="col-md-4">
    <% film = Film.find_by(id: film) %>
    <% title = film.title %>
    <%= link_to title, film_path(film) %>

    <%= form_for :watch do |f| %>
    <%= f.hidden_field :person_id, :value => @person.id %>
    <%= f.hidden_field :film_id, :value => film.id%>

    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <%= f.submit%>
    <% f.label :name%>
     </div>
  <% end %>
  </div>
<% end %>
<% end %>

<br><br>
