<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.username %><br>



<% add_new_film_id = @person.film_id << '1'%>
<%= @person.film_id %>
<%@person.update(film_id: add_new_film_id)  %>

<%# if @person.film_id = nil %>
<%# @person.update(film_id: [add_new_film_id]) %>
<%#= "person updated with array" %>
<%# elsif @person.film_id != nil%>
<%#  @person.update(film_id: add_new_film_id)%>
<%#= "person updated without array" %>
<%# end %>


<%#= @person.film_id.each do |match| %>
  <%#= film.title %>
<%# end %>
</p>



<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
