<head>

<%= javascript_pack_tag "home" %>
</head>
<h2>Film Picker</h2>

<div class="home-container">

    <%= link_to new_film_path, class: "home-button" do %>

    <div class="home-button-text">
      <h3>Add New Film</h3>
      <p>Add a new film to list</p>
    </div>
    <% end %>

  <%= link_to films_path, class: "home-button" do %>
    <div class="home-button-text">
      <h3>Show Films</h3>
      <p>Show all films</p>
    </div>
    <% end %>


    <%= link_to randomfilm_path, class: "home-button" do %>
    <div class="home-button-text">
      <h3>Random Films</h3>
      <p>Select a random film from all films</p>
    </div>
    <% end %>
</div>

<div class="">


<% if logged_in? %>
  Logged in as: <%= current_user.username %>

  <%= button_to "logout", pages_logout_path %>

  <% elsif !logged_in?%>
    <%= "Not logged in" %>
  <% end %>
</div>
