<h2>Film Picker</h2>

<p><%= logged_in? %></p>
<%= link_to 'Add New Film', new_film_path %>
<br>
<%= link_to 'Show Films', films_path %>
<br>
<%= link_to 'Random Film', randomfilm_path %>
<div class="">


<% if logged_in? %>
  Logged in as: <%= current_user.username %>

  <%= button_to "Logout", logout_path, method: :delete %>

  <% elsif !logged_in?%>
    <%= "Not logged in" %>
  <% end %>
</div>
