<%= form_with(model: film) do |form| %>
  <% if film.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(film.errors.count, "error") %> prohibited this film from being saved:</h2>

      <ul>
        <% film.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :genre_id %>
    <%= form.select :genre_id, Genre.all.collect {|p| [p.name, p.id]},
    selected: "Action" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
