<%= javascript_pack_tag 'random_confirmation.js' %>

<h3>Select genres</h3>
<br/>
<%= form_tag("/random_film_confirmation", method: "post") do %>
  <input type="checkbox" id="check_all" onclick="toggleAll()"/>Select all<br/>
  <br/>
  <%= g = collection_check_boxes :genre, :id, Genre.all, :id, :id, include_hidden: false do |g| %>
    <%= g.label() do %>
      <%= g.check_box(class: "check_box") %>
      <%= g.object.name %>
    <% end %>
  <% end %>
  <br/>
  <h3>Select custom lists</h3>
  <%= cl= collection_radio_buttons :custom_lists, :id, CustomList.where(person_id: current_user.id), :id, :id, include_hidden: false do |cl| %>
    <%= cl.label() do %>
      <%= cl.radio_button(class: "check_box") %>
      <%= cl.object.name %>
    <% end %>
  <% end %>
  <br/>
  <%= submit_tag("Find") %>
<% end %>