<% require 'json' %>

<!--pre><%#= JSON.pretty_generate(response) %><!--/pre-->
<% film_results = @results %>

<% matching_titles = film_results.select { |movie| movie['title'] == @filmname} %>

<% if movie = matching_titles.find { |movie| movie['title'] == @filmname} %>

   <div class="film_details">
   <p class="poster"><%= image_tag 'https://image.tmdb.org/t/p/w300' << (movie['poster_path']) %></p><br/>
   <h2> <%= movie['title'] %></h2>
   <h4>Description</h4>
   <%= movie['overview'] %> <br />

   <br /><br />
   <%= button_tag 'Show more info', type: 'button', id: 'show-hide' %>

     <h4 class="release">Release Date (U.S.)</h4>
     <span class='release'><%= movie['release_date'] %></span>

   <h4 class="release">Genre</h4>
   <%= link_to @film.genre.name, genre_path(@film.genre), class: "release"%>
   </div><br/>
<% else  %>
<% 'Film not found' %>
<% end %>

</br></br></br>
<div class="recommended">
<h3>Recommended films</h3>

<div class="recommended-films">
<%= test = @film.recommended_films %>
<% film_object = @film.recommended_films_ids %>
<% film_object.each do |film| %>
<%= link_to film, class:'recommended_title' do %>
  <p class="recommended-poster"><%#= image_tag 'https://image.tmdb.org/t/p/w92' << 'poster_path') %></p>
  <p class="recommended-title"><%= film.title%></p>
<% end %>
<% end %>
</div>



  </div>

<%= javascript_pack_tag 'test.js' %>
<div class="show-films-links">
<%= link_to 'Edit', edit_film_path(@film) %> |
<%= link_to 'Back', films_path %>
</div>
