<% require 'json' %%>

<!--pre><%#= JSON.pretty_generate(response) %><!--/pre-->

<% poster = @film_presenter.poster_path %>
<% description = @film_presenter.description%>

<div class="overlay" id="overlay">
<% if (poster != nil) %>
  <p class="overlay_poster" id="overlay_poster"><%= image_tag 'https://image.tmdb.org/t/p/w500' << (poster) %></p>
   <% end %>
</div>

   <div class="film_details">
   <% if (poster != nil) %>
    <p class="poster" id="poster"><%= image_tag 'https://image.tmdb.org/t/p/w300' << (poster), id: "poster" %></p>
  <% else %> 
    <p class="poster" id="poster"><%= image_tag "poster_placeholder.jpeg", id: poster %>
  <% end %>
  <div class="film_header">
   <h2 class="film-title"> <%= @film_presenter.title %></h2>
     <% if @watched == true  %>
    <%= image_tag 'watched-checkmark.png', size: '16', class: 'watched-tick' %>
  <% end %>
    <% unless @film.film_watched?(@person.id)%>
      <%= form_for :watch, html: { class: "watch-button" } do |f| %>
      <%= f.hidden_field :person_id, :value => @person.id %>
      <%= f.hidden_field :film_id, :value => @film.id%>

      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= f.submit "Mark as seen"%>
      <% f.label :name%>
      <% end %>
      <% end %>
    <% if @film.film_watched?(@person.id) %>
      <%= form_with(url: :watch, method: "delete", html: { class: "watch-button" }) do |form| %>
        <%= form.hidden_field :person_id, :value => @person.id %>
        <%= form.hidden_field :film_id, :value => @film.id%>
        <%= form.button "Mark as unseen" %>
      <% end %>
    <% end %>
    </div>
   <h4>Description</h4>
   <%= description %> <br />

   <h4>Directed by</h4>
   <%= @film_presenter.directors %>

   <h4>Runtime</h4>
   <%= @film_presenter.runtime %>

   <br />
   <h4 class="release">Release Date (U.S.)</h4>
   <div class='release'><%= @film_presenter.release_date %></div>
   <h4 class="release">Genre</h4>
   <%= link_to @film.genre.name, genre_path(@film.genre), class: "release"%>
   <br>
   </div><br/>

</br></br></br>
<div class="recommended">
<h3>Recommended films</h3>

<div class="recommended-section">
<% film_object = @film.recommended_films_ids %>
<% film_object.each do |film| %>
  <% if film.title != @film_presenter.title %>
  <%= link_to film, class:'recommended_film' do %>

      <% recommended_poster = film.poster_path %>
      <% if (recommended_poster != nil) %>
        <p class="recommended-poster">
        <%= image_tag 'https://image.tmdb.org/t/p/w92' << (recommended_poster) %></p>
      <% else %> 
       <p class="recommended-poster">
        <%= image_tag "poster_placeholder.jpeg", size: 100%></p>
      <% end %>
        <p class="recommended-title"><%= film.title%></p>
        <% end %>
      <% end %>
    <% end %>
</div>
</div>

<%= javascript_pack_tag 'test.js' %>
<div class="show-films-links">
<%= link_to 'Edit', edit_film_path(@film) %> |
<%= link_to 'Back', films_path %>
</div>
