<% require 'json' %>


<% response = @response.parsed_response %>

<% results = response["results"]%>

<% matching_titles = results.select { |movie| movie['title'] == @filmname} %>

<% matching_titles.each do |movie| %>
<%= movie['title']%>, <%=movie['release_date']%> </br>
<% end %>

<% if movie = results.find { |movie| movie['title'] == @filmname} %>

   <%# Poster %>
   <div class="film_details">
   <p class="poster"><%= image_tag 'https://image.tmdb.org/t/p/w300' << (movie['poster_path']) %></p></br>
   <h2> <%= movie['title'] %></h2>
   <h4>Description</h4>
   <%= movie['overview'] %> <br />
   <h4>ID</h4>
   <%= movie['id']  %><br /><br />
   <h4>Release Date (U.S.)</h4>
   <%= movie['release_date'] %>
   <h4>Genre</h4>
   <%= link_to @film.genre.name, genre_path(@film.genre)%>
   </div></br>
<% else  %>
<% 'Film not found' %>
<% end %>


<%= link_to 'Edit', edit_film_path(@film) %> |
<%= link_to 'Back', films_path %>
