<% require 'json' %%>

<!--pre><%#= JSON.pretty_generate(response) %><!--/pre-->

<% poster = @film.poster_path %>
<% description = @film.description%>
<%# release_date = @film.get_film_release_date(@film.title) %>

<div class="overlay" id="overlay">
<% if (poster != nil) %>
  <p class="overlay_poster" id="overlay_poster"><%= image_tag 'https://image.tmdb.org/t/p/w500' << (poster) %></p>
   <% end %>
</div>

   <div class="film_details">
   <% if (poster != nil) %>
    <p class="poster" id="poster"><%= image_tag 'https://image.tmdb.org/t/p/w300' << (poster), id: "poster" %></p><br/>
  <% else %> 
    <p class="poster" id="poster"><%= image_tag "poster_placeholder.jpeg", id: poster %>
  <% end %>
   <h2> <%= @film.title %></h2>
   <h4>Description</h4>
   <%= description %> <br />

   <br /><br />
   <%= button_tag 'Show more info', type: 'button', id: 'show-hide' %>
    <h4 class="release">Release Date (U.S.)</h4>
     <span class='release'><%= @film.release_date %></span>

   <h4 class="release">Genre</h4>
   <%= link_to @film.genre.name, genre_path(@film.genre), class: "release"%>
   </div><br/>

</br></br></br>
<div class="recommended">
<h3>Recommended films</h3>

<div class="recommended-section">
<% film_object = @film.recommended_films_ids %>
<% film_object.each do |film| %>
  <% if film.title != @film.title %>
  <%= link_to film, class:'recommended_film' do %>

      <% recommended_poster = film.poster_path %>
      <% if (recommended_poster != nil) %>
        <p class="recommended-poster">
        <%= image_tag 'https://image.tmdb.org/t/p/w92' << (recommended_poster) %></p>
      <% else %> 
       <p class="recommended-poster">
        <%= image_tag "poster_placeholder.jpeg", size: 100%></p>
      <% end %>
        <p class="recommended-title"><%= film.title%></p>
        <% end %>
      <% end %>
    <% end %>
</div>
</div>

<%= javascript_pack_tag 'test.js' %>
<div class="show-films-links">
<%= link_to 'Edit', edit_film_path(@film) %> |
<%= link_to 'Back', films_path %>
</div>
