<h1>New Custom List</h1>

<%#= render 'form', custom_list: @custom_list %>
<%= form_for @custom_list do |c| %>
    <div class="field">
        <%= c.label :name %>
        <%= c.text_field :name %>
    </div>
    <%= c.collection_check_boxes :film_ids, @films, :id, :title %>
    <%= c.submit %>
<% end %>

<%= link_to 'Back', custom_lists_path %>